# CHAPTER 11: INTEGRATING A MACHINE LEARNING ALGORITHM TO A WEB APP

This chapter introduces an approach to integrate machine learning models. Initially, it will provide an overview of machine learning recognized as linear regression, including ways of preprocessing data and generating predictions. It concludes by exhibiting a technique of implementing it in web apps.

In [1]:
import pandas as pd
df = pd.read_excel(r"C:\Users\i5 lenov\Desktop\apress_source_code\feature_selection_data.xlsx",parse_dates=[0],index_col=[0])
df.head()

C:\Users\i5 lenov\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\i5 lenov\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\i5 lenov\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

            gdp_by_exp        cpi         m3  spot_crude_oil    rand
DATE
2009-01-01   -1.718249  71.178127  13.831098           41.74  9.3000
2009-04-01   -2.801610  73.249160   9.774203           49.79  9.3705
2009-07-01   -2.963243  74.448179   5.931918           64.09  7.7356
2009-10-01   -2.881582  74.884186   3.194678           75.82  7.7040
2010-01-01    0.286515  75.320193   0.961220           78.22  7.3613

In [2]:
df["gdp_by_exp"] = df["gdp_by_exp"].fillna(df["gdp_by_exp"])
df["cpi"] = df["cpi"].fillna(df["cpi"])
df["m3"] = df["m3"].fillna(df["m3"])
df["spot_crude_oil"] = df["spot_crude_oil"].fillna(df["spot_crude_oil"])
df["rand"] = df["rand"].fillna(df["rand"])

In [3]:
x = df.iloc[::,0:4]
y = df.iloc[::,-1]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [6]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)

LinearRegression()

In [7]:
y_pred = pd.DataFrame(linear_model.predict(x_test),
                      columns=["Predicted rand"])
y_pred

   Predicted rand
0       13.429235
1        7.260954
2       12.546308
3       13.163633
4       13.317925
5       13.658022
6       13.779957
7       14.433352
8        7.409901
9        7.688201